<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<style> 
    #gradient {
      height: 200px;
      
      background-image: url('images/icon/pic1.jpg');
      background-color: #cccccc;
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

    }
    </style>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/chart">
                                <i class="fas fa-chart-bar"></i>Reports</a>
                        </li>
                        <li>
                            <a href="/table">
                                <i class="fas fa-table"></i>Stock Inventory</a>
                        </li>
						 <li>
                            <a href="/clients">
                                <i class="fas fa-table"></i>Clients</a>
                        </li>
                        <li>
                            <a href="/form">
                                <i class="far fa-check-square"></i>Trasactions</a>
                        </li>
                        <li>
                            <a href="/calendar">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                       
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                        
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                      
						 <li>
                            <a href="http://localhost:5000/">
                                <i class="fas fa-chart-bar"></i>Dashboard</a>
                        </li>
                       <li>
                            <a href="/chart">
                                <i class="fas fa-chart-bar"></i>Reports</a>
                        </li>
                        <li>
                            <a href="/table">
                                <i class="fas fa-table"></i>Stock Inventory</a>
                        </li>
						 <li>
                            <a href="/clients">
                                <i class="fas fa-table"></i>Clients</a>
                        </li>
                        <li>
                            <a href="/form">
                                <i class="far fa-check-square"></i>Trasactions</a>
                        </li>
                        <li>
                            <a href="/calendar">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                     
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                             
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            
                            <div class="header-button">
                                <div class="noti-wrap">

                                     <!-- <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">0</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 0 Notifications</p>
                                            </div>
                                          
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                       
                                        <div class="content">
                                            
                                            <h2><b>Trés Chic Nail Boutique</b></h2>
                                        </div>
                                        
                                       <!-- <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Welcome</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>



                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div id="gradient" class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                               <!-- <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>




                                    <button class="au-btn au-btn-icon au-btn--blue">
									  <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                       
                                        <div class="content">
										
                                            <a class="js-acc-btn" href="#">add stock</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                        
                                           <div id="contactForm">

  <h3>ADD STOCK</h3>
 <br>
  
  <form method="post" action=/stock/add>
    <input placeholder="Name" type="text" required id="name" name="name" />
	 <input placeholder="Description" type="text" required id="item_id" name="item_id" />
    <input placeholder="Quantity" type="number" required id="quantity" name="quantity" />
    <input placeholder="Date" type="date" required id="date" name="date" />
	 <input placeholder="Cost" type="text" required id="cost" name="cost" />
	 
	 <div class="account-dropdown__footer">
                                                <input type='submit' value= 'Add Stock'>
                                            </div>
 
			

   
   
  </form>
</div>
                                            
                                        </div>
                                    </div>

                               
                            </div>
							
							
                        </div>
						<br>
						-->
                        <!--
						<div class="overview-wrap">
                                    <h2 class="title-1"></h2>
                                    <button class="au-btn au-btn-icon au-btn--blue">
									  <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                       
                                        <div class="content">
										
                                            <a class="js-acc-btn" href="#">Add Client</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                        
                                           <div id="contactForm">

  <h3>ADD CLIENT</h3>
 <br>
  
  <form method="post" action=/customers/add>
    <input placeholder="Name" type="text" required id="Name" name="Name" />
	 <input placeholder="Total Visits" type="number" required id="Total_Visits" name="Total_Visits" />
    <input placeholder="DOB" type="date" required id="DOB" name="DOB" />

	 
	 <div class="account-dropdown__footer">
                                                <input type='submit' value= 'Add Client'>
                                            </div>
 
			

   
   
  </form>

-->


  <div class="overview-wrap">
       
    <h2 class="title-1"></h2>
    
    <button class="au-btn au-btn-icon au-btn--blue">
      <div class="account-wrap"><!--
    <div class="account-item clearfix js-item-menu">
       
        <div class="content">
        
            <a class="js-acc-btn" href="#">Add Trasaction</a>
        </div>
        <div class="account-dropdown js-dropdown">
        
           <div id="contactForm">

<h3>ADD PAYMENT</h3>
<br>

<form method="post" action=/payment/add>
<input placeholder="Name" type="text" required id="Names" name="Names" />
<input placeholder="Payment" type="text" required id="Payment" name="Payment" />
<input placeholder="Payment Date" type="date" required id="Payment_Date" name="Payment_Date" />


<div class="account-dropdown__footer">
                <input type='submit' value= 'Add Payment'>
            </div>





</form>
-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
  


        $(document).ready(()=>{
            const display = $("#display");
            const form = $("#form");
            var quantity = $("#quantity");
            var cost = $("#cost");
           
            const message = $("#message");
            message.hide();

           

 
          

            const resetTodosInput = ()=>{
                quantity.val(''),
                cost.val('')
                ;
            }
/*
 
            
*/
          

        });



   

        function mytest() {
	num = document.getElementById("quantity").value;//Gross
   
	num2 = document.getElementById("cost").value;//AFTER DEDUCTIONS
  

	
    result1 = num*1;//OTHER EXPENECES
    result2 = num2*1;//Rent
    //result10 = num3 + num4 + num5 + num6 + num7 + num8;//80%
    
  
	
    document.getElementById("result1").value = result1;
    document.getElementById("result2").value = result2;
   // document.getElementById("result10").value = result10;


  
 
}
    </script>

</div>
                                            
                                        </div>
                                    </div>

                               
                            </div>
							
							
                        </div>
                       
                        <div class="row">
                            <div class="col-sm"><button class="au-btn au-btn-icon au-btn--blue" type="button" id="formButton">Add Stock</button>

                                <form id="form1" method="post" action=/stock/add>
                                <b>Item:</b> <input type="text" required id="name" name="name" />
                                
                                <br><br>
                                <b>Unique ID:</b><input type="text" required id="item_id" name="item_id" />
                                <br> <br>                                
                                <b>Quantity:   </b><input type="number" required id="quantity" name="quantity" />
                                <br><br>
                                <b>Date:       </b><input type="date" required id="date" name="date" />
                                <br><br>
                                <b>Cost:       </b><input type="number" required id="cost" name="cost" />

                                <br><br>
                                <button class="btn btn-success" type='submit' value= 'Add Stock'>Submit</button>
                                </form>
                                </div>
                           
                                <div class="col-sm">
                                    <button class="au-btn au-btn-icon au-btn--blue" type="button" id="formButton2">New Client</button>

                                    <form id="form2" method="post" action=/customers/add>
                                    <b>Name:</b> <input type="text" required id="Name" name="Name" />
                                    
                                    <br><br>
                                    <!--<b>Total Visits:  </b><input type="number" required id="Total_Visits" name="Total_Visits" />
                                    <br><br>
                                    -->
                                    <b>Date of Birth:   </b><input type="date" required id="DOB" name="DOB" />    
                                    <br><br>
                                    <button class="btn btn-success" type='submit' value= 'Add Client'>Submit</button>
                                    </form>
                                    </div>



                                    <div class="col-sm">
                                        <button class="au-btn au-btn-icon au-btn--blue" type="button" id="formButton3">Add Trasaction</button>
    
                                        <form id="form3" method="post" action=/payment/add>
                                        <b>Name:</b> <input type="text" required id="Names" name="Names" />
                                        
                                        <br><br>
                                        <b>Payment:  </b><input type="text" required id="Payment" name="Payment" />
                                        <br><br>
                                        
                                        <b>Payment Date:   </b><input type="date" required id="Payment_Date" name="Payment_Date" />   
                                        <br><br>
                                        <button class="btn btn-success" type='submit' value= 'Add Payment'>Submit</button>
                                        </form>
                                        </div>
                          </div>
                       
                         </div>
                         </div>
                         </div>
                         </div>
                         </body>
                          <style>
form {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
}


                          </style>

                     <!--   <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2>0</h2>
                                                <span>Total Clients</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2>0</h2>
                                                <span>Total Inventory</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2>0</h2>
                                                <span>Clients This Week</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2>R 0.00</h2>
                                                <span>Revenue</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                         
                            

                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">
                               
                            </div>
                            <div class="col-lg-6">
                               
                            </div>
							
							

                        </div>
                        -->
                      
						
						 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                        <script>

const deleteTodo = (todo,listItemID,deleteID)=>{
                let deleteBtn = $(`#${deleteID}`);
                deleteBtn.click(()=>{
                    fetch(`/${todo._id}`,{
                        method: "delete"
                    }).then((response)=>{
                        return response.json();
                    }).then((data)=>{
                        if(data.ok == 1){
                            $(`#${listItemID}`).remove();
                        }
                    });
                });
            }

$(document).ready(function() {
$("#formButton").click(function() {
$("#form1").toggle();
});
});
$(document).ready(function() {
$("#formButton2").click(function() {
$("#form2").toggle();
});
});
$(document).ready(function() {
$("#formButton3").click(function() {
$("#form3").toggle();
});
});



                        </script><!-- 
                     

<button type="button" id="formButton">Toggle Form!</button>

<form id="form1">
<b>First Name:</b> <input type="text" name="firstName">
<br><br>
<b>Last Name: </b><input type="text" name="lastName">
<br><br>
<b> Age:</b>
<br>
<input type="radio" name="age" value="adolescent"> 0 - 19 years
<br>
<input type="radio" name="age" value="mid"> 20 - 59 years
<br>
<input type="radio" name="age" value="senior"> 60 + years
<br> <br>
<b>Preferred Color:</b>
<select name="color">
<option value="blue">Blue</option>
<option value="green">Green</option>
<option value="yellow">Yellow</option>
<option value="red">Red</option>
<option value="pink">Pink</option>
</select>
<br><br>
<b>Comment:</b>
<br>
<textarea name="comment">
Enter your comment here
</textarea>
<br><br>
<button type="button" id="submit">Submit</button>
</form>

<h4> Stock List </h4>
						<br>
						<table style="width:100%">


<tr>
	<th>Product</th>
	<th>Item ID</th>
	<th>Quantity</th>
	<th>Date</th>
	<th>Cost</th>
	</tr>
	<tr>
	<th>=====================</th>
	<th>=====================</th>
	<th>=====================</th>
	<th>=====================</th>
	<th>=====================</th>
	</tr>
<% stock.forEach(function(stock){ %>
	<tr>
	<th><%= stock.value.name %></th>
	<th><%= stock.value.item_id %></th>
	<th><%= stock.value.quantity %></th>
	<th><%= stock.value.date %></th>
	<th><%= stock.value.cost %></th>
	</tr>
<% }); %>

</table>-->

  
             
                      
                           
                                            
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document


-->